.welkomstbericht-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    width: 100vw;
}
.welkomstbericht-inner-container {
    flex-basis: 1000px;
    text-align: center;
    height: 600px;
    flex-direction: row;
    background: rgba(36, 36, 36, 0.22);
    padding:40px;
}

.welkomstbericht-content {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 2em;
    flex-direction: column;
}
.welkomstbericht-inner-container p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 2em;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap:20px;
}

.btn-welkomstbericht {
    background-color: rgba(255, 127, 80, 0.73);
    color: #f9f9f9;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    box-shadow: rgba(36, 36, 38, 0.6) 2px 2px 2px;
    text-align: center;
}

.btn-welkomstbericht:active {
   transform: scale(0.9);
}

.welkomstbericht-stefan {
    font-size: 0.9em;
    background-color: rgba(16, 137, 210, 0.45);
}

.welkomstbericht-maureen {
    background: linear-gradient(to right, rgba(19, 128, 109, 0.5), rgba(0, 0, 255, 0.2));
    font-size: 0.9em;

}

.welkomstbericht-paul {
    background-color: rgba(105, 161, 160, 0.73);
    font-size: 0.9em;

}

.welkomstbericht-shirley {
    background-color: rgba(85, 145, 140, 0.73);
    font-size: 0.7em;
}

.welkomstbericht-cheyenne {
    background: linear-gradient(to right, purple, pink);
    font-size: 0.9em;
}

@media (max-width: 600px) {
    .welkomstbericht-content {
        margin-left: 5px;
        margin-right: 5px;
        box-sizing: border-box;
    }

    .welkomstbericht-inner-container {
        display: flex;
        flex-basis: 400px;
        text-align: center;
        flex-direction: column;
        align-items: center;
        background: rgba(36, 36, 36, 0.2);
        height: 110%;
        font-size: 0.8em;
        padding: 15px;
        margin-top:140px;
    }
}
