.outer-container-footer {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  height: 60px;

}

.inner-container-footer {
    display: flex;
flex-basis: 500px;
  gap:20px;
  margin-left: 10px;
  font-size: 0.8em;

}