.warning-message {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(217, 149, 0, 0.75);
    color: #2d42cc;
    text-align: center;
    padding: 10px;
    z-index: 9999;
    font-size: 0.9em;
}

@media (max-width: 799px) {
    .warning-message {
        display: block;
    }
}