.warning-message {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(217, 149, 0, 0.75);
    color: #2d42cc;
    text-align: center;
    padding: 10px;
    z-index: 9999;
    font-size: 0.9em;
}

@media (max-width: 1000px) {
    .warning-message {
        display: block;

    }

    .warning-message-content {
        width: 92%;
    }

    .close-button {
        position: absolute;
        top: 2px;
        right: 5px;
        background: none;
        border: none;
        font-size: 12px;
        color: white;
        cursor: pointer;
        box-shadow: #242424 0px 0px 2px;
        padding: 5px 10px;

    }
}